/* line 17, ../src/application.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
  border: 1px solid;
  font-family: Trebuchet MS,Verdana;
  color: gray;
}
/* line 24, ../src/application.scss */
#wrapper a {
  color: #ff7400;
  text-decoration: none;
}
/* line 29, ../src/application.scss */
#wrapper #header {
  height: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
}
/* line 33, ../src/application.scss */
#wrapper #header h1 {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  font-size: 45px;
  font-family: 'Cabin Sketch', arial, serif;
  color: #ff7400;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header h1 {
  overflow-x: hidden;
}
/* line 41, ../src/application.scss */
#wrapper #header #social {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  font-family: 'Neucha', arial, serif;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header #social {
  overflow-x: hidden;
}
/* line 45, ../src/application.scss */
#wrapper #header #social li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header #social li {
  overflow-x: hidden;
}
/* line 48, ../src/application.scss */
#wrapper #header #social a {
  position: absolute;
  width: 180px !important;
}
/* line 53, ../src/application.scss */
#wrapper #header #social #email {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header #social #email {
  overflow-x: hidden;
}
/* line 57, ../src/application.scss */
#wrapper #header #social h2 {
  color: #009999;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  padding-left: 50px;
}
/* line 65, ../src/application.scss */
#wrapper #header #social p {
  color: #009999;
  padding-left: 50px;
}
/* line 69, ../src/application.scss */
#wrapper #header #social #twitter-sprite {
  background: url('../images/icons.png?1343556173') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: 0px -160px;
  display: block;
  float: left;
}
/* line 74, ../src/application.scss */
#wrapper #header #social #linkedin-sprite {
  background: url('../images/icons.png?1343556173') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: 0px 0px;
  display: block;
  float: left;
}
/* line 79, ../src/application.scss */
#wrapper #header #social #email-sprite {
  background: url('../images/icons.png?1343556173') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: 0px -80px;
  display: block;
  float: left;
}
/* line 85, ../src/application.scss */
#wrapper #header #social #twitter-sprite:hover {
  background-position: 0px -200px;
}
/* line 88, ../src/application.scss */
#wrapper #header #social #linkedin-sprite:hover {
  background-position: 0px -40px;
}
/* line 91, ../src/application.scss */
#wrapper #header #social #email-sprite:hover {
  background-position: 0px -120px;
}
/* line 97, ../src/application.scss */
#wrapper #main {
  font-size: 14px;
}
/* line 99, ../src/application.scss */
#wrapper #main #content {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #main #content {
  overflow-x: hidden;
}
/* line 104, ../src/application.scss */
#wrapper #main #content .category {
  font-size: 12px;
}
/* line 107, ../src/application.scss */
#wrapper #main #content p {
  margin-bottom: 10px;
}
/* line 110, ../src/application.scss */
#wrapper #main #content h3 a {
  font-family: 'Neucha', arial, serif;
  font-size: 28px;
  color: #009999;
  line-height: 34px;
  text-decoration: none;
}
/* line 117, ../src/application.scss */
#wrapper #main #content h4 {
  font-family: 'Neucha', arial, serif;
  font-size: 20px;
  color: #ff9640;
  line-height: 30px;
  margin-bottom: 5px;
}
/* line 123, ../src/application.scss */
#wrapper #main #content h4 .read-more {
  font-size: 16px;
}
/* line 126, ../src/application.scss */
#wrapper #main #content h4 a {
  color: #ff9640;
  line-height: 40px;
  margin-bottom: 5px;
  text-decoration: none;
}
/* line 134, ../src/application.scss */
#wrapper #main #content .wp-caption {
  margin-top: 10px;
  margin-bottom: 24px;
}
/* line 139, ../src/application.scss */
#wrapper #main #content .alignleft, #wrapper #main #content img.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
  margin-top: 4px;
}
/* line 146, ../src/application.scss */
#wrapper #main #content .wp-caption-text {
  font-size: 12px;
  text-align: center;
}
/* line 151, ../src/application.scss */
#wrapper #main #content blockquote {
  font-style: italic;
  padding: 25px;
  font-family: 'Times New Roman';
}
/* line 157, ../src/application.scss */
#wrapper #main #content ul, #wrapper #main #content ol {
  margin-left: 40px;
}
/* line 162, ../src/application.scss */
#wrapper #main #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #main #sidebar {
  overflow-x: hidden;
}
/* line 164, ../src/application.scss */
#wrapper #main #sidebar li {
  list-style: none;
}
/* line 172, ../src/application.scss */
#wrapper #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  font-family: 'Neucha', arial, serif;
  text-align: center;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #footer {
  overflow-x: hidden;
}
