@charset "UTF-8";
/* line 17, ../src/application.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
  border: 1px solid;
  font-family: Trebuchet MS,Verdana;
  color: gray;
}
/* line 24, ../src/application.scss */
#wrapper #header {
  height: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
}
/* line 28, ../src/application.scss */
#wrapper #header h1 {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  font-size: 45px;
  font-family: 'Cabin Sketch', arial, serif;
  color: #ff7400;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header h1 {
  overflow-x: hidden;
}
/* line 36, ../src/application.scss */
#wrapper #header #social {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  font-family: 'Neucha', arial, serif;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header #social {
  overflow-x: hidden;
}
/* line 40, ../src/application.scss */
#wrapper #header #social li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header #social li {
  overflow-x: hidden;
}
/* line 43, ../src/application.scss */
#wrapper #header #social a {
  position: absolute;
  width: 180px !important;
}
/* line 48, ../src/application.scss */
#wrapper #header #social #email {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header #social #email {
  overflow-x: hidden;
}
/* line 52, ../src/application.scss */
#wrapper #header #social h2 {
  color: #009999;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  padding-left: 50px;
}
/* line 60, ../src/application.scss */
#wrapper #header #social p {
  color: #009999;
  padding-left: 50px;
}
/* line 64, ../src/application.scss */
#wrapper #header #social #twitter-sprite {
  background: url('../images/icons.png?1310929016') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: 0px -160px;
  display: block;
  float: left;
}
/* line 69, ../src/application.scss */
#wrapper #header #social #linkedin-sprite {
  background: url('../images/icons.png?1310929016') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: 0px 0px;
  display: block;
  float: left;
}
/* line 74, ../src/application.scss */
#wrapper #header #social #email-sprite {
  background: url('../images/icons.png?1310929016') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: 0px -80px;
  display: block;
  float: left;
}
/* line 80, ../src/application.scss */
#wrapper #header #social #twitter-sprite:hover {
  background-position: 0px -200px;
}
/* line 83, ../src/application.scss */
#wrapper #header #social #linkedin-sprite:hover {
  background-position: 0px -40px;
}
/* line 86, ../src/application.scss */
#wrapper #header #social #email-sprite:hover {
  background-position: 0px -120px;
}
/* line 92, ../src/application.scss */
#wrapper #main {
  font-size: 14px;
}
/* line 94, ../src/application.scss */
#wrapper #main #content {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #main #content {
  overflow-x: hidden;
}
/* line 99, ../src/application.scss */
#wrapper #main #content .category {
  font-size: 12px;
}
/* line 102, ../src/application.scss */
#wrapper #main #content p {
  margin-bottom: 10px;
}
/* line 105, ../src/application.scss */
#wrapper #main #content h3 a {
  font-family: 'Neucha', arial, serif;
  font-size: 28px;
  color: #009999;
  line-height: 34px;
  text-decoration: none;
}
/* line 112, ../src/application.scss */
#wrapper #main #content h4 {
  font-family: 'Neucha', arial, serif;
  font-size: 20px;
  color: #ff9640;
  line-height: 30px;
  margin-bottom: 5px;
}
/* line 118, ../src/application.scss */
#wrapper #main #content h4 .read-more {
  font-size: 16px;
}
/* line 121, ../src/application.scss */
#wrapper #main #content h4 a {
  color: #ff9640;
  line-height: 40px;
  margin-bottom: 5px;
  text-decoration: none;
}
/* line 129, ../src/application.scss */
#wrapper #main #content .wp-caption {
  margin-top: 10px;
  margin-bottom: 24px;
}
/* line 134, ../src/application.scss */
#wrapper #main #content .alignleft, #wrapper #main #content img.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
  margin-top: 4px;
}
/* line 141, ../src/application.scss */
#wrapper #main #content .wp-caption-text {
  font-size: 12px;
  text-align: center;
}
/* line 146, ../src/application.scss */
#wrapper #main #content blockquote {
  font-style: italic;
  padding: 25px;
  font-family: 'Times New Roman';
}
/* line 152, ../src/application.scss */
#wrapper #main #content ul, #wrapper #main #content ol {
  margin-left: 40px;
}
/* line 157, ../src/application.scss */
#wrapper #main #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #main #sidebar {
  overflow-x: hidden;
}
/* line 164, ../src/application.scss */
#wrapper #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  font-family: 'Neucha', arial, serif;
  text-align: center;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #footer {
  overflow-x: hidden;
}
