$accent1 :  #FF7400;
$accent2 :	#009999;
$accent3 :  #FF9640;
$accent4 :  #FFB273;
$icons : 'icons.png';

$sprite-default-size : 40px;


@import "blueprint";

@import "compass/utilities/sprites";

@import "compass/css3/font-face";


#wrapper {
  @include container;
  margin-top: 20px;
  border: 1px solid;
  font-family: Trebuchet MS,Verdana;
  color: gray;

	a	{
		color: $accent1;
		text-decoration: none;
	}

  #header { 
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    h1 {
      @include prepend(1);
      @include column(8);
      font-size: 45px;
      font-family: 'Cabin Sketch', arial, serif; 
      color: $accent1;
      
    }
    #social {
      
      @include column(15, true);
      font-family: 'Neucha', arial, serif;
      li {
        @include column(5);
      }
      a {
        position: absolute;
        width: 180px !important;
      }
      
      #email {
        @include column(5,true);
      }
      
      h2 {
  	    color: $accent2;
  	    text-transform: uppercase;
  	    font-size:18px;
  	    line-height: 24px;
  	    padding-left : image-width($icons)  + 10;     
      }
      
      p {
    	  color: $accent2;
        padding-left : image-width($icons)  + 10;     
      }
      #twitter-sprite {
        @include sprite-img($icons, 1, 5);
        display: block;
        float:left;
      }
      #linkedin-sprite {
        @include  sprite-img($icons, 1, 1);
        display: block;
        float:left;
      }
      #email-sprite {
        @include  sprite-img($icons, 1, 3);
        display: block;
        float:left;
      }
      
      #twitter-sprite:hover {
        @include sprite-position(1,6);
      }
      #linkedin-sprite:hover {
        @include  sprite-position(1,2);
      }
      #email-sprite:hover {
        @include sprite-position(1,4);
      }
    }
  }
  
  #main {
    font-size: 14px;
    #content {
      @include prepend(1);
      @include column (16);
      @include colborder();

      .category {
          font-size:12px;
      }
      p {
        margin-bottom: 10px;
      }
      h3 a {
        font-family: 'Neucha', arial, serif;
        font-size: 28px;
        color: $accent2;
        line-height: 34px;
        text-decoration: none;
      }
      h4 {
        font-family: 'Neucha', arial, serif;
        font-size: 20px;
        color: $accent3;
        line-height: 30px;
        margin-bottom: 5px;
        .read-more {
          font-size:16px;
        }
        a {
          color: $accent3;
          line-height: 40px;
          margin-bottom: 5px;
          text-decoration: none;
        }
      }
      
      .wp-caption {
        margin-top: 10px;
        margin-bottom: 24px;
      }
      
      .alignleft, img.alignleft {
          display: inline;
          float: left;
          margin-right: 20px;
          margin-top: 4px;
      }
      
      .wp-caption-text {
        font-size: 12px;
        text-align: center;
      }
      
      blockquote {
        font-style: italic;
        padding: 25px;
        font-family: 'Times New Roman';
      }
      
      ul, ol {
        margin-left: 40px;
      }
          
    }
    #sidebar {
      @include column (6, true);
		li {
			list-style:none;
		}
    }
    

  }
  
  #footer {
    @include column (24, true);
    font-family: 'Neucha', arial, serif;
    text-align: center;
  }
  
}


